.separator{
	background-color: #D3E7F7; !import
	-moz-border-radius:9px;
	border-radius:9px;
	color: #537DB3;
	font-weight: bold;
	font-size: 16px;
}

.kanban_style{
	background-color: #D3E7F7; !import
	-moz-border-radius:9px;
	border-radius:9px;
	font-size: 12px;
}

.oe_form_field.fecha,input{
	background-color: #D4E3ED; !import
}

.oe_form_sheetbg{
	
	border-radius: 9px;
	-moz-border-radius: 9px;
}

.div_scroll
{	width: 800px;
	height:310px; 
	overflow-x:hidden;
	overflow-y:scroll;
	border-bottom: 0px solid #CCC;
	
}

.div_scroll_asid_dec
{	width: 950px;
	height:200px; 
	overflow-x:hidden;
	overflow-y:scroll;
	border-bottom: 0px solid #CCC;
	
}

.titulo{

    text-transform: uppercase !important;
}

.mensaje{
	background-color:#DFF0D8;
	color:#2A4E35;width:450px;
	heigth:150px;
	-moz-border-radius:9px;
	border-radius:9px;
}
.oe_form_required input:not([disabled]):not([readonly]),.openerp .oe_form .oe_form_required select:not([disabled]):not([readonly]), .openerp .oe_form .oe_form_required textarea:not([disabled]):not([readonly]) {
	background-color: #B32D24 !important; }
	
.openerp .oe_form .oe_form_required input:not([disabled]):not([readonly]), .openerp .oe_form .oe_form_required select:not([disabled]):not([readonly]), .openerp .oe_form .oe_form_required textarea:not([disabled]):not([readonly]) {
	background-color: #FCA635  !important; }

.openerp .oe_secondary_submenu .oe_active {
	background: none repeat scroll 0 0 #B32D24;
	border-bottom: 1px solid #dedede;
	border-top: 1px solid lightGray;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset, 0 -1px 3px rgba(40, 40, 40, 0.2) inset;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }


.openerp .oe_secondary_menu_section {
    color: #0074C1;
    font-weight: bold;
    margin-left: 8px;
}
.openerp .oe_horizontal_separator {
    color: #0074C1;
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 10px;
}
.openerp button.ajuste {
    background-color: white;
    color: white;
    background-image: linear-gradient(to bottom, #0CAF52, #0B5E2E);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
}
.openerp button.aprobado {
    background-color: white;
    color: white;
    background-image: linear-gradient(to bottom, #4D7BD2, #233C6C);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
}
.openerp button.oe_highlight {
    background-color: green;
    background-image: linear-gradient(to bottom, #df3f3f, #a21a1a);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
}

/*Estilo para el boton exportar observacion preliminar*/
.openerp button.exportar {
    background-color: green;
    color: white;
    background-image: linear-gradient(to bottom, #fca656, #fd6f1c);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
}

.openerp .oe_topbar {
    background-color: #454343;
    background-image: linear-gradient(to bottom, #B32D24, #B32D24);
    height: 32px;
    width: 100%;
}

.openerp .oe_menu > li > .oe_active {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4) inset;
    text-shadow: 0 0 3px black;
}

/*Estilo para el String de la pestaña*/
.openerp .oe_notebook > li.ui-state-active > a, .openerp .oe_notebook > li.ui-state-active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #7B9EC8;
    color: black;
    border-color: #dddddd #dddddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    cursor: default;
}


/*.openerp .oe_login .oe_login_bottom { background-color: #8a0e0e;
	background-image: linear-gradient(to bottom, #61b7d3, rgba(6, 96, 95, 0.56));
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	text-shadow: 0 1px 1px #999999;
	top: 50%; }*/