.oe_horizontal_separator{
	background-color: #F2F2F2;
	-moz-border-radius:7px;
	border-radius:7px;
}

.oe_form_field.fecha,input{
	background-color: #D4E3ED; !import
}

.oe_form_sheetbg{
	
	border-radius: 9px;
	-moz-border-radius: 9px;
}

.div_scroll
{	width: 800px;
	height:310px; 
	overflow-x:hidden;
	overflow-y:scroll;
	border-bottom: 0px solid #CCC;
	
}
